/.vs/
/packages/
/umbShop/bin/
/umbShop/obj/
/umbShop/App_Data/NuGetBackup/
/website/App_Data/NuGetBackup/
/website/bin/
/website/obj/
/website/App_Data/TEMP/
/website/App_Data/umbraco.config
/website/App_Data/Umbraco.sdf
/website/App_Data/Logs/
/website/App_Data/Models/
*.dll
*.pdb
